<p>
  pendingleaves works!
</p>

<table border="3">
    <tr>
      <th>LeaveID</th><th>applying days</th><th>Leave Start</th><th>Leave End</th><th>Leave Type</th>
      <th>reason</th><th>applied on</th><th>leave status</th><th>Manager comment</th><th>Employee ID</th>
    </tr>
    <tr *ngFor="let leapending of leavependingdata | async">
      <td>{{leapending.leaId}}</td>
      <td>{{leapending.leaNoOfDays}}</td>
      <td>{{leapending.leaStDate}}</td>
      <td>{{leapending.leaEndDate}}</td>
      <td>{{leapending.leaType}}</td>
      <td>{{leapending.leaReas}}</td>
      <td>{{leapending.leaAppOn}}</td>
      <td>{{leapending.leaStatus}}</td>
      <td>{{leapending.leaMngCmts}}</td>
      <td>{{leapending.leaEmpId}}</td>
       <!-- <td><input type="button" value="go to mypage " (click)="login(employ.empFullName)"></td> -->
    </tr>
  </table> 