.back {
      margin: 0;
      padding: 0;
      background-image: url("/assets/images/banner.jpg");
      height: 100vh;
      background-size: 1400px 800px;
      background-repeat: no-repeat;
    }

    #login .container #login-row #login-column #login-box {
      margin-top: 120px;
      max-width: 600px;
      height: 320px;
      border: 1px solid #9C9C9C;
      background-color: #EAEAEA;
    }

    #login .container #login-row #login-column #login-box #login-form {
      padding: 20px;
    }

    #login .container #login-row #login-column #login-box #login-form #register-link {
      margin-top: -85px;
      align-self: auto;
    }

    img {
      border-radius: 100%;
      margin-top:2%;
      margin-bottom:2%;
      box-shadow: 1px 6px 8px 2px rgba(0,0,0,0.2);
    }