<meta charset="utf-8">
<title>Employee Login</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="back">
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                        <div *ngIf="username==1000" align="center">
                                <img src="assets/images/nikita1.jpg"  width="200px;" height="200px" alt="Avatar"  class="center">
                                </div>
                                <div *ngIf="username==2000" align="center">
                                    <img src="assets/images/2000.jpg" alt="Avatar"  height="200px" class="center">
                                </div>
                                <div *ngIf="username==3000" align="center">
                                    <img src="assets/images/meghana.jpg" width="200px" alt="Avatar"  class="center">
                                </div>
                                <div *ngIf="username==4000" align="center">
                                    <img src="assets/images/4000.png" width="200px" height="200px" alt="Avatar"  class="center">
                                </div>
                                <div *ngIf="username==5000" align="center">
                                    <img src="assets/images/5000.png" width="200px" height="200px" alt="Avatar"  class="center">
                                </div>
                                <div *ngIf="username==6000" align="center">
                                    <img src="assets/images/5000.png" width="200px" height="200px" alt="Avatar"  class="center">
                                </div>
                            <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" name="frmLogin" (ngSubmit) ="login()">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Employee ID:</label><br>
                                <input type="text" placeholder="username" [(ngModel)] = "username"  name="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password"  placeholder="password" [(ngModel)] = "password" name="password" class="form-control" required="required"/>
                            </div>
                            <div class="form-group">
                                <!-- <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br> -->
                                <input type="submit"  name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            <!-- <div id="register-link" class="text-right">
                                <a href="#" class="text-info">Register here</a>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>