
        <br/>
            <h1 style= "color:#DE9514;text-align:center;font-family: Times New Roman, Times, serif;"><b>APPLY LEAVE</b> </h1>
          <div style="text-align:center">
                <form #userForm="ngForm" (ngSubmit)="Applyleave(userForm)">
        <br/>
        <div class="form-group">
                <label for= "leaStDate" style="color:white"><b><font size="4">Start Date :</font></b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="Date"  id="leaStDate" required="required" [(ngModel)]="model.leaStDate" name="leaStDate" #leaStDate="ngModel"  >  
                        <div *ngIf="leaStDate.invalid && userForm.submitted && !isValidFormSubmitted"  [ngClass] = "'error'" style="color:red" > 
                <h6>Start Date is Required.</h6>
                        </div>
        </div>
        
        <div class= "form-group">
          <label for= "leaEndDate" style="color:white"><b><font size="4"> End Date :</font>&nbsp;&nbsp;</b> </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type = "Date" id = "leaEndDate" required="required" [(ngModel)]= "model.leaEndDate" 
                name="leaEndDate" #leaEndDate="ngModel" (change)="calcNoofDays()">
                        <div *ngIf="leaEndDate.invalid && userForm.submitted && !isValidFormSubmitted"  [ngClass] = "'error'" style="color:red" > 
                               <h6>End Date is Required.</h6> 
                              </div>
                    </div>
                    <div class="form-group">
                            <label for="leaType" style="color:white"><b><font size="4">Leave Type :</font>&nbsp;&nbsp;&nbsp;&nbsp;</b></label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <select [(ngModel)]="model.leaType" id="leaType" name="leaType" style="border-radius:5px" required="required" #leaType="ngModel">
                                <option value="EL">EL</option>
                                <option value="PL">PL</option>
                                <option value="ML">ML</option>
                            </select>
                    </div>
                    <div class= "form-group">
                            <label for= "leaNoOfDays" style="color:white"><b><font size="4">Number of Days :&nbsp;&nbsp;</font></b> </label>
                            <input type = "number" style="border-radius:5px"
                            id = "leaNoOfDays" required="required"
                            [(ngModel)]= "model.leaNoOfDays" name="leaNoOfDays" #leaNoOfDays="ngModel" readonly>
                            <div *ngIf="leaNoOfDays.invalid && userForm.submitted && !isValidFormSubmitted"  [ngClass] = "'error'" style="color:red" > 
                                    <h6>Leave Days is Required.</h6> 
                                   </div>
                        </div>
                    <div class= "form-group">
                            <label for= "leaReas" style="color:white"><b><font size="4">Leave Reason :</font> </b></label>&nbsp;&nbsp;&nbsp;
                            <input type = "string"  style="border-radius:5px" size="30"
                            id = "leaReas" required="required"
                            [(ngModel)]= "model.leaReas" name="leaReas" #leaReas="ngModel">
                            <div *ngIf="leaReas.invalid && userForm.submitted && !isValidFormSubmitted"  [ngClass] = "'error'" style="color:red"        > 
                                    <h6>Reason is Required.</h6> 
                                   </div>
                        </div>
                        <button id="Apply" name="Apply" class="btn btn-success" >Apply</button> &nbsp;&nbsp;
                        <input type="reset" class="btn btn-primary" value="Cancel" (click)="cancel()">
                        <!-- <h3 name="result" id="result">STATUS: {{this.msg}}</h3>  -->
                     
                        <!-- <h3 name="result" id="result" *ngIf="isValidFormSubmitted == true">STATUS: {{this.msg}}</h3> -->
                </form> 
                <div style="color:white" id="result" name="result">
                                {{this.msg}}
                        
            </div>
