<p>
  employee works!
</p>
<nav>
    <a [routerLink]="['/leavedetails']">leave_details Component</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['/pendingleaves']">pending_leaves Component</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['/dropdown']">drop down Component</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <hr/>
</nav> 
<table border="3">
  <tr>
    <th>ID</th><th>Name</th><th>empEmail</th><th>empMobile</th><th>empDOJ</th><th>empLeaveBal</th><th>empDepart</th><th>mgrId</th><th>login</th>
  </tr>
  <tr *ngFor="let employ of employees | async">
    <td>{{employ.empId}}</td>
    <td>{{employ.empFullName}}</td>
    <td>{{employ.empEmail}}</td>
    <td>{{employ.empMobile}}</td>
    <td>{{employ.empDOJ}}</td>
    <td>{{employ.empLeaveBal}}</td>
    <td>{{employ.empDepart}}</td>
    <td>{{employ.mgrId}}</td>
     <td><input type="button" value="go to mypage " (click)="login(employ.empId,employ.mgrId)"></td>
  </tr>
</table> 

