<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<h3 align="center"> 
  Manager Details
</h3>
<div *ngIf= "mgrno == 0; then thenBlock; else elseBlock;"> </div>

<ng-template #thenBlock>
    <div align="center"> <b> No manager </b> </div>
</ng-template>

<ng-template #elseBlock>
<div *ngIf="empno != 0">
    <div class="backgroundemp">
        <br/>
        <br/>
        <div class="card">
      <div *ngIf="mgrno==1000">
          <img src="assets/images/1000.png" alt="Avatar"  class="center">
          </div>
          <div *ngIf="mgrno==2000">
              <img src="assets/images/2000.jpg" alt="Avatar"  class="center">
          </div>
          <div *ngIf="mgrno==3000">
              <img src="assets/images/3000.png" alt="Avatar"  class="center">
          </div>
          <div class="container">
              <h4 align="center"><b>{{(employ | async)?.empFullName}}</b></h4>
              
              <b>Employee ID:</b>{{ (employ  | async)?.empId }}<br/>
              <b>Email:</b> {{(employ | async)?.empEmail}} <br/>
              <b>Mobile:</b>{{(employ | async)?.empMobile}} <br/> 
              <b>Date of Joining:</b>  {{(employ | async)?.empDOJ}}<br/>
              <b>Department:</b> {{(employ | async)?.empDepart}} <br/>
              
              <a href="#"><i class="fa fa-dribbble"></i></a>&nbsp;&nbsp;&nbsp;
              <a href="#"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
              <a href="#"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;&nbsp;
              <a href="#"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
              </div>
        </div>
      </div>
</div>
</ng-template>

