<h1 align="center">
  Employee Dashboard
</h1>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    
     <a class="navbar-brand" [routerLink]="['employ']">My Details</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
       <span class="navbar-toggler-icon"></span>

     </button>
     <a class="navbar-brand" [routerLink]="['manager']">My Manager</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
       <span class="navbar-toggler-icon"></span>
     </button>
    <a class="navbar-brand"[routerLink]="['history']">My Leaves</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
       <span class="navbar-toggler-icon"></span>
     </button>

     <a class="navbar-brand" [routerLink]="['leave']"> My Reportees Leaves</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
       <span class="navbar-toggler-icon"></span>
     </button>

     <a class="navbar-brand" [routerLink]="['applyLeave']">Apply Leave</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
       <span class="navbar-toggler-icon"></span>
     </button>
   </nav> 
   <router-outlet></router-outlet>
<!--    
<app-employ align="center"></app-employ>
<hr/>
<app-manager></app-manager>
<hr/>
<app-leave></app-leave>
<hr/>
<app-leavehistory></app-leavehistory>
<hr/> -->
<!-- <app-dropdown></app-dropdown> -->
  